.loginFormContainer,
.joinFormContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
  max-width: 400px;
}

@media screen and (max-width: 600px) {
  .loginFormContainer,
  .joinFormContainer {
    width: 100%;
    max-width: none;
  }
}
